.chat-list{
	.chat-list-header{
		-webkit-app-region: drag;
		height: 53px;
    	flex-shrink: 0;
		border-bottom: solid 1px #ebebeb;
	}
	.item{
		border-bottom: solid 1px rgb(227, 227, 227); 
		height: 63px;
		display: flex;
		align-items:stretch;
		padding: 0 5px;
		.avatar{
			height: 42px;
			width: 42px;
			border-radius: 100%;
		}
		&.active{
			background: rgb(248, 248, 248);
		}
	}
	.item-header{
		display: flex;
		align-items:center;
		justify-content:center;
		height: 63px;
		width: 63px;
		flex-shrink:0;
	}
	.item-body{
		display: flex;
		justify-content:center;
		flex-direction:column;
		flex-grow:1;
		overflow: hidden;
		.info{
			display: flex;
			.username{
				font-weight: 100;
				font-size: 12px;
				display: inline-block;
				margin: 0 5px 0 0;
				flex-shrink:1;
				overflow: hidden;
				white-space: nowrap;
				text-overflow:ellipsis;
				margin-bottom: 2px;
			}
			.message-date{
				color: rgb(155, 155, 155);
				flex-shrink:0;
			}
		}
		.message{
			height: 30px;
			margin: 0;
			color: rgb(160, 160, 160);
			line-height: 1.3;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
}